@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700");

body {
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
    line-height: 1.5;
    background: rgb(30, 30, 30);
    color: rgb(255, 255, 255);
    padding: 20px 40px;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

a {
    color: rgb(255, 255, 255);
}

a:hover {
    text-decoration: underline;
}

header h1 {
    font-size: 2em;
    margin: 6px 12px;
    text-transform: uppercase;
    color: rgb(160, 160, 160);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

main {
    font-family: monospace;
}

main > * {
    width: 80%;
    padding: 8px;
    margin: 20px auto;
}

main input {
    border: 1px solid rgb(10, 10, 10);
}

main ul li {
    display: inline-block;
    margin: 6px;
    background: rgb(15, 15, 15);
    padding: 8px;
    width: 90px;
}

main p {
    word-wrap: break-word;
}

footer {
    margin: 40px 20px 20px 20px;
    font-size: 0.9em;
    color: rgb(200, 200, 200);
}
